<h1>View <%= pluralize(@announcements.count, "Announcement") %></h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Details</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @announcements.each do |announcement| %>
		<tr>
			<td> <%= announcement.title %></td>
			<td style="white-space: pre-wrap; break-word;"><%= announcement.details %></td>
			<td><a href="/announcements/<%= announcement.id %>">Edit</a>
				<a href="/announcements/<%= announcement.id %>"data-method="delete" data-confirm="Are you sure?">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/announcements/new">Create Announcement<a/>